<%= button_to 'Check emails', fetch_emails_path, :remote => true %>
<h1>Listing emails</h1>
<table>
  <tr>
    <th>Sender</th>
	<th>Subject</th>
  </tr>
  <% @emails.each do |email| %>
    <tr>
  	  <td><%= email.sender %></td>
	  <td><%= link_to email.subject, email_path(email.id) %></td>
    </tr>
  <% end %>
</table>

<% if @emails.empty? %>
  <em>No emails</em>
<% end %>